<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Atualizar Paciente</title>
</head>
<body>
<h1>Lista de Pacientes</h1>
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Idade</th>
        <th>Data de Nascimento</th>
        <th>CPF</th>
    </tr>
    </thead>
    <tbody>
    {{range .Pacientes}}
    <tr>
        <td>{{.Nome}}</td>
        <td>{{.Email}}</td>
        <td>{{.Idade}}</td>
        <td>{{.DataDeNascimento}}</td>
        <td>{{.CPF}}</td>
    </tr>
    {{end}}
    </tbody>
</table>
<h1>Deletar Paciente</h1>
<form action="/deletar_paciente" method="post">
    <label for="email">Email do Paciente a ser deletado:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <button type="submit">Deletar</button>
</form>
</body>
</html>